@import "tailwindcss";

:root {
  /* Globale farver */
  --primary: #ff2a70;
  --white: #ffffff;
  --black: #000000;

  /* Baggrunds overlays */
  --bg-overlay-dark: rgba(0, 0, 0, 0.9);
  --bg-overlay-medium: rgba(0, 0, 0, 0.85);
  --bg-overlay-light: rgba(0, 0, 0, 0.6);

  /* Font størrelser */
  --font-size-xs: 16px;
  --font-size-sm: 18px;
  --font-size-base: 20px;
  --font-size-md: 24px;
  --font-size-lg: 32px;
  --font-size-xl: 38px;
  --font-size-2xl: 44px;

  /* Letter Spacing */
  --letter-spacing-tight: 0.32px;
  --letter-spacing-normal: 0.36px;
  --letter-spacing-wide: 0.48px;
  --letter-spacing-wider: 1.8px;
  --letter-spacing-widest: 2.85px;
  --letter-spacing-ultra: 32px;

  /* Line Height */
  --line-height-normal: normal;
  --line-height-relaxed: 32px;
  --line-height-loose: 1.8;
}

body {
  background: var(--color-black);
  color: var(--color-white);
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

@theme inline {
  --color-primary: var(--primary);
  --color-white: var(--white);
  --color-black: var(--black);
  --color-bg-overlay-dark: var(--bg-overlay-dark);
  --color-bg-overlay-medium: var(--bg-overlay-medium);
  --color-bg-overlay-light: var(--bg-overlay-light);

  --text-xs: var(--font-size-xs);
  --text-sm: var(--font-size-sm);
  --text-base: var(--font-size-base);
  --text-md: var(--font-size-md);
  --text-lg: var(--font-size-lg);
  --text-xl: var(--font-size-xl);
  --text-2xl: var(--font-size-2xl);
}

:root {
  --swiper-theme-color: var(--color-primary) !important;
  --swiper-pagination-bullet-inactive-color: var(--color-white) !important;
  --swiper-pagination-bullet-inactive-opacity: 1 !important;
  --swiper-pagination-bullet-size: 20px !important;
  --swiper-pagination-bullet-horizontal-gap: 12px !important;
  --swiper-pagination-bullet-border-radius: 0 !important;
  --swiper-pagination-bottom: 0 !important;
}
